
name: CI devops 2024

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  test-backend: 
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.5.0
          
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution : 'temurin'
          java-version: '17'
          
      - name: Build and test with Maven
        run: mvn -B verify sonar:sonar -Dsonar.projectKey=devop-organisation_devop-project -Dsonar.organization=devop-organisation -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_TOKEN }}  --file Backend/simple-api-student-main/pom.xml

  build-and-push-docker-image:
    needs: test-backend
    runs-on: ubuntu-22.04
    steps:
      - name: Login to DockerHub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Checkout code
        uses: actions/checkout@v2.5.0
      
      - name: Build image and push backend
        uses: docker/build-push-action@v3
        with:
          context: ./Backend/simple-api-student-main
          tags: ${{ secrets.DOCKER_USERNAME }}/tp1-backend:latest
          push: ${{ github.ref == 'refs/heads/main' }}

      - name: Build image and push database
        uses: docker/build-push-action@v3
        with:
          context: ./postgres
          tags: ${{ secrets.DOCKER_USERNAME }}/tp1-database:latest
          push: ${{ github.ref == 'refs/heads/main' }}

      - name: Build image and push httpd
        uses: docker/build-push-action@v3
        with:
          context: ./httpd
          tags: ${{ secrets.DOCKER_USERNAME }}/tp1-httpd:latest
          push: ${{ github.ref == 'refs/heads/main' }}

          



